<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body>
{{ partial "nav.html" . }}
<!-- Page Header -->
{{ block "header" .}}
<header class="intro-header" style="background-image: url('{{ .Site.Params.header_image | relURL }}'); background-size: auto;">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 ">
                <div class="site-heading">
                    <h1 class="display-1">{{ .Site.Title}} </h1>
                    <!--<hr class="small">-->
		    <span class="h5">{{ .Site.Params.slogan }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{{ end }}

{{ block "main" . }}
{{ end }}

{{ partial "footer.html" . }}
</body>
</html>
